@font-face {
	font-family: "PixelAlpha";
	src: url("../../fonts/PixelifySans.ttf");
}

@font-face {
	font-family: "PixelNumber";
	src: url("../../fonts/VCR-OSD-MONO.ttf");
}

@font-face {
	font-family: "Pokemon";
	src: url("../../fonts/Pokemon.ttf");
}

@font-face {
	font-family: "Roboto";
	src: url("../../fonts/Roboto-Medium.ttf");
}
