@font-face {
	font-family: "PixelifySans";
	src: url("../../fonts/PixelifySans.ttf");
}

@font-face {
	font-family: "Pokemon";
	src: url("../../fonts/Pokemon.ttf");
}

@font-face {
	font-family: "Roboto";
	src: url("../../fonts/Roboto-Medium.ttf");
}
