@import "variables";

html {
	height: 100%;
	min-height: 100%;
}

body {
	background-color: $docBackgroundColor;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	margin-top: 2rem;
	background-color: $docBackgroundColor;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-title {
	color: $titleColor;
	text-shadow: -4px 3px 0px $titleShadow;
	font-family: "Pokemon", sans-serif;
	letter-spacing: 0.6rem;
	-webkit-text-stroke-color: $titleBorderColor;
	-webkit-text-stroke-width: 1px;
	text-align: center;
	font-size: $titleSize;
	padding: 0;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons {
	position: absolute;
	left: 10rem;
	top: 3.5rem;
}

.btn {
	background-color: $btnBackgroundColor;
	color: $btnColor;
	cursor: pointer;
	font-weight: 600;
	border: 2px solid #090c17;
	border-radius: 5px;
	padding: {
		left: 0.4rem;
		right: 0.4rem;
		top: 0.1rem;
		bottom: 0.1rem;
	}
	max-width: 100%;
}

#btn-before {
	box-shadow: $btnLeftShadow;
}

#btn-before:active {
	box-shadow: none;
}

#btn-next {
	box-shadow: $btnRightShadow;
}

#btn-next:active {
	box-shadow: none;
}

.btn:hover {
	background-color: $btnBackgroundHover;
}

.btn:active {
	box-shadow: none;
}

.footer {
	text-align: center;
	padding: 1em;
	font-family: "Roboto", sans-serif;
	margin-top: auto;
}
