@import "variables";

.pokedex {
	background: {
		image: url("../../images/pokedex.png");
		repeat: no-repeat;
		position: center;
		size: cover;
	}

	max: {
		width: 100%;
		height: 100%;
	}

	width: 19.3rem;
	height: 29rem;
	position: relative;
}

.pokemon-image {
	background: {
		color: #fff;
		image: url(../../images/backgrounds/forest.png);
		position: center;
		size: cover;
	}

	width: 12rem;
	height: 8rem;
	position: absolute;
	top: 7.7rem;
	left: 2.8rem;

	border: {
		width: 3px;
		style: solid;
		color: #7a868f;
		radius: 5px;
	}

	cursor: grab;
}

.pokemon-image > .image {
	max-width: 90%;
	max-height: 90%;
	padding-top: 5px;
	display: block;
	margin: auto;
}

.pokemon-identifier {
	width: 11rem;
	position: absolute;
	top: 16rem;
	left: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 3px;
	padding: {
		top: 3px;
		right: 5px;
		bottom: 3px;
		left: 5px;
	}
}

.pokemon-name {
	font-family: $pixelLetterFont, monospace;
	font-weight: 600;
	background-color: #f4efef;
	border: 1px solid #000;
	border-radius: 3px;
	padding: {
		top: 3px;
		right: 5px;
		bottom: 3px;
		left: 5px;
	}
}

.pokemon-id {
	font-family: $pixelNumberFont, monospace;
	line-height: normal;
	background-color: #f4efef;
	border: 1px solid #000;
	border-radius: 3px;
	width: 3rem;
	padding: {
		top: 5px;
		right: 5px;
		bottom: 3px;
		left: 5px;
	}
}
