@import "variables";

.pokedex {
	background: {
		image: url("../../images/pokedex.png");
		repeat: no-repeat;
		position: center;
		size: cover;
	}

	max: {
		width: 100%;
		height: 100%;
	}

	width: 19.3rem;
	height: 29rem;
	position: relative;
}

.pokemon-image {
	background: {
		color: #fff;
		image: url(../../images/backgrounds/forest.png);
		position: center;
		size: cover;
	}

	width: 12rem;
	height: 8rem;
	position: absolute;
	top: 7.7rem;
	left: 2.8rem;

	border: {
		width: 3px;
		style: solid;
		color: #7a868f;
		radius: 5px;
	}

	cursor: grab;
}

.buttons {
	position: absolute;
	left: 10rem;
	top: 3.5rem;
}

.btn {
	background-color: $btnBackgroundColor;
	color: $btnColor;
	cursor: pointer;
	font-weight: 600;
	border: 2px solid #090c17;
	border-radius: 5px;
	padding: {
		left: 0.4rem;
		right: 0.4rem;
		top: 0.1rem;
		bottom: 0.1rem;
	}
	max-width: 3rem;
}

#btn-before {
	box-shadow: $btnLeftShadow;
}

#btn-before:active {
	box-shadow: none;
}

#btn-next {
	box-shadow: $btnRightShadow;
}

#btn-next:active {
	box-shadow: none;
}

.btn:hover {
	background-color: $btnBackgroundHover;
}

.btn:active {
	box-shadow: none;
}

.pokemon-image > .image {
	max-width: 90%;
	max-height: 90%;
	padding-top: 5px;
	display: block;
	margin: auto;
}

.pokemon-identifier {
	width: 11rem;
	position: absolute;
	top: 15.8rem;
	left: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 3px;
	padding: {
		top: 3px;
		right: 5px;
		bottom: 3px;
		left: 5px;
	}
}

.pokemon-name {
	font-family: $pixelLetterFont, monospace;
	font-weight: 600;
	background-color: #f4efef;
	border: 1px solid #000;
	border-radius: 3px;
	padding: {
		top: 3px;
		right: 5px;
		bottom: 3px;
		left: 5px;
	}
	box-shadow: $pokemonIdentifierChildrenShadow;
	max-width: fit-content;
	min-width: 5rem;
}

.pokemon-id {
	font-family: $pixelNumberFont, monospace;
	line-height: normal;
	background-color: #f4efef;
	border: 1px solid #000;
	border-radius: 3px;
	width: 3rem;
	padding: {
		top: 5px;
		right: 5px;
		bottom: 3px;
		left: 5px;
	}
	box-shadow: $pokemonIdentifierChildrenShadow;
}

.pokemon-details {
	width: 14rem;
	max-width: 14rem;
	height: 8rem;
	max-height: 14rem;
	position: absolute;
	top: 19rem;
	left: 1.8rem;
	border: {
		width: 3px;
		style: solid;
		color: #000;
		radius: 5px;
	}
	background-color: #e3e3e3;
	overflow: auto;
}

.pokemon-details::-webkit-scrollbar {
	width: 0.8rem;
}

.pokemon-details::-webkit-scrollbar-track {
	background-color: #e3e3e3;
}

.pokemon-details::-webkit-scrollbar-thumb {
	background-color: #f0134e;
	border-radius: 1px;
	border: 1px solid black;
	box-shadow: 1px 1px 1px #181818;
}

.pokemon-details__header {
	padding: 0.1rem;
}

.pokemon-details__title {
	font-size: 1rem;
	text-align: center;
	font-family: $pixelLetterFont;
}

.pokemon-details__body {
	padding: 0.5rem;
	font-size: 0.8rem;
	font-family: $pixelLetterFont;
}

.pokemon-types {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.pokemon-type {
	max-width: fit-content;
	padding: 0.3rem;
	border-radius: 3px;
	font-size: 0.75rem;
	font-weight: 600;
	color: #fff;
	letter-spacing: 2px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.637);
	font-family: $pixelNumberFont;
}

.bug {
	background-color: #91c12f;
}
.grass {
	background-color: #63bc5a;
}
.fairy {
	background-color: #ec8fe6;
}
.normal {
	background-color: #919aa2;
}
.dragon {
	background-color: #0b6dc3;
}
.psychic {
	background-color: #fa7179;
}
.ghost {
	background-color: #5269ad;
}
.ground {
	background-color: #d97845;
}
.steel {
	background-color: #5a8ea2;
}
.fire {
	background-color: #f16c2e;
}
.flying {
	background-color: #7094d3;
}
.ice {
	background-color: #73cec0;
}
.electric {
	background-color: #f4d23c;
}
.rock {
	background-color: #c5b78c;
}
.dark {
	background-color: #5a5465;
}
.water {
	background-color: #5090d6;
}
.fighting {
	background-color: #ce416b;
}
.poison {
	background-color: #b567ce;
}

.pokemon-body {
	padding: 0.2rem;
	margin-top: 0.2rem;
	margin: 0.5rem;
}

.pokemon-body > ul {
	display: flex;
	justify-content: space-around;
	gap: 8px;
}

.pokemon-body li p {
	font-weight: 600;
	color: #2f2e2ed2;
	font-family: $pixelNumberFont;
	text-align: center;
}

.pokemon-stats__title {
	text-align: center;
}

.pokemon-stats .stats-table {
	padding: 0.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.2rem;
	gap: 8px;
	border-collapse: collapse;
}

.stat-name {
	text-align: start;
	padding: 0.2rem;
	border: 1px solid #000;
	background-color: #d30a40d8;
	color: #fff;
	letter-spacing: 3px;
}

.pokemon-stats .stats-table__row {
	font-family: $pixelNumberFont;
	font-size: 0.75rem;
	border: 1px solid #000;
}

.pokemon-stats .stats-table__row .stat-value {
	font-weight: 600;
	color: #0e0e0ef5;
	padding: 0.2rem;
	border: 1px solid #000;
}
