@import "_fonts";

// Fonts
$pokemonFont: "Pokemon";
$robotoFont: "Roboto";
$pixelFont: "PixelifySans";

// Título principal
$titleColor: #e4d314;
$titleShadow: #1a3a7a;
$titleBorderColor: #395db3;
$titleSize: 4rem;
