@import "_fonts";

// Fonts
$pokemonFont: "Pokemon";
$robotoFont: "Roboto";
$pixelLetterFont: "PixelAlpha";
$pixelNumberFont: "PixelNumber";

// Título principal
$titleColor: #eac11c;
$titleShadow: #1a3a7a;
$titleBorderColor: #395db3;
$titleSize: 4rem;

// Botões
$btnColor: #fff;
$btnBackgroundColor: #0f26b8;
$btnBackgroundHover: #0f208f;
$btnRightShadow: 2px 2px 0.1px #090c17;
$btnLeftShadow: -2px 2px 0.1px #090c17;
